.mini-games {
    width: 100%;
    height: 100%;
    background-color: black;
    padding-top: 100px;
    background-image: url('../homeWork1/img/Group-3.png');
    background-repeat: no-repeat;
    background-position: 95% 80%;
    padding-bottom: 100px;
}
.gemes-blok-mini {
    width: 100%;
    display: flex;
    gap: 36px;
    padding-top: 53px;
    flex-direction: column;
}
.card-mini {
    flex: 1 0 50%;
    display: flex;
    background-color: #FFFFFF;
    gap: 0px;
    border-radius: 40px;
    transition: 0.5s;
}
.card-mini__revers{
    flex-direction: row-reverse;
}
.card-header-mini {
    flex: 1 0 50%;
   max-width: 600px;
  max-height: 500px;
}
.card-img {
    height: 100%;
    width: 100%;
}
.game-link{
    text-decoration: none;
}
.text-game-mini {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
}
.button-mini{
    width: 247px;
    height: 66px;
    gap: 10px;
    border-radius: 60px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 34.01px;
    text-align: center;
    color: #FFFFFF;
    background: #202027;

    &:hover{
    color:  #202027;
    background: #FFFFFF;
    }
}

.footer-site {
    background-color: #BDED35;
    height: 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-text {
    font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
   line-height: 29.26px;
    color: #000;
}
.mini{
    gap: 36px;
}