@media (max-width:600px){
    .conteiner {
        height: 100%;
        padding-left: 30px;
        padding-right:30px ;
    }
    
    
    .section-welcome {
        height: 800px;
        max-width: 600px;
        background: #E1FF8F;
        background-image: url('../homeWork1/img/Group\ 1.png');
        background-position: 170px -118px;
        background-repeat: no-repeat;
    }
        
    .welcome-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
    }
    .welcome-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 343px;
          gap: 36px;
    }
      .welcome-content__heading {
          font-family: Montserrat;
          width: 262px;
          height: 196px;  
          font-size: 40px;
          font-weight: 700;
           line-height: 48.76px;
         text-align: center;
      }
      .welcome-content__text {
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 400;
          line-height: 32px;
          text-align: left;
          color: #202027;
      }
      .span{
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 600;
          line-height: 32px;
      }
      .welcome-content__button {
        width: 285px;
        height: 55px;
          padding: 16px 28px 16px 28px;
          gap: 10px;
          border-radius: 60px;
          font-family: Montserrat;
          font-family: Montserrat;
          font-size: 16px;
           font-weight: 600;
          line-height: 22.67px;
          text-align: center;
          color: #FFFFFF;
          background: #202027;
      
          &:hover{
          color:  #202027;
          background: #FFFFFF;
          }
      }
      
      
      .welcome-links {
          width: 100%;
          background-color: #BCEC30;
          padding: 39px 0px;
          overflow: hidden;
          position: relative;
          z-index: 4;
      
      }
      .welcome-links-anim {
          width: 3220px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;
          gap: 10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          animation: road 20s linear infinite;
      }
      
      
      .welcome-link {
          text-decoration: none;
          font-family: Montserrat;
          font-size: 30px;
          font-weight: 700;
          line-height: 33px;
          color: black;
          text-transform: uppercase;
      
      }
      .welcome-link::after {
          content: '';
          width: 36px;
          height: 36px;
          margin-left: 100px;
          background-image: url('../homeWork1/img/Star.png');
          background-size: cover;
          position: absolute;
      }
      .section-game{
        display: none;
      }


      .mini-games {
        width: 100%;
        height: 100%;
        background-color: black;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .gemes-blok-mini {
        width: 100%;
        display: flex;
        gap: 36px;
        padding-top: 53px;
        flex-direction: column;
    }
    .heading-game{
        font-family: Montserrat;
         font-size: 40px;
          font-weight: 700;
           line-height: 48.76px;
           color:#FFFFFF;
    }
    .card-mini {
        flex: 1 0 50%;
        display: flex;
        background-color: #FFFFFF;
        gap: 0px;
        border-radius: 40px;
        transition: 0.5s;
        flex-direction: column;
    }
    .card-mini__revers{
        flex-direction: column;
    }
    .card-header-mini {
        flex: 1 0 50%;
       max-width: 600px;
      max-height: 500px;
    }
    .card-img {
        height: 100%;
        width: 100%;
    }
    .game-link{
        text-decoration: none;
    }
    .name-game{
        font-family: Montserrat;
         font-size: 32px;
        font-weight: 700;
        line-height: 39.01px;
    }
    .text-game-mini {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        text-align: left;
        
    }
    .button-mini{
        width: 100%;
        height: 66px;
        gap: 10px;
        border-radius: 60px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 34.01px;
        text-align: center;
        color: #FFFFFF;
        background: #202027;
    
        &:hover{
        color:  #202027;
        background: #FFFFFF;
        }
    }
    
    .footer-site {
        background-color: #BDED35;
        height: 150px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer-text {
        font-family: Montserrat;
      font-size: 24px;
      font-weight: 600;
       line-height: 29.26px;
        color: #000;
    }
    .mini{
        gap: 32px;
    }
       
}