* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  max-width: 1213px;
  margin: 0 auto;
  height: 100%;
}

.section-welcome {
  height: 800px;
  background: #E1FF8F;
  background-image: url("../homeWork1/img/bog-1.png");
  background-position: left 95px top -330px;
  background-repeat: no-repeat;
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.welcome-content {
  width: 769px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.welcome-content__heading {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  color: #202027;
  width: 769px;
  height: 156px;
}

.welcome-content__text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #202027;
}

.span {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.welcome-content__button {
  width: 247px;
  height: 66px;
  padding: 16px 28px 16px 28px;
  gap: 10px;
  border-radius: 60px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 34.01px;
  text-align: center;
  color: #FFFFFF;
  background: #202027;
}
.welcome-content__button:hover {
  color: #202027;
  background: #FFFFFF;
}

.welcome-links {
  width: 100%;
  background-color: #BCEC30;
  padding: 39px 0px;
  overflow: hidden;
  position: relative;
  z-index: 4;
}

.welcome-links-anim {
  width: 3220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: road 20s linear infinite;
}

.welcome-link {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: black;
  text-transform: uppercase;
}

.welcome-link::after {
  content: "";
  width: 36px;
  height: 36px;
  margin-left: 100px;
  background-image: url("../homeWork1/img/Star.png");
  background-size: cover;
  position: absolute;
}

.section-game {
  min-height: 1500px;
  background-color: black;
  background-image: url("../homeWork1/img/bog-2.png");
  background-repeat: no-repeat;
  background-position: left 50px bottom 83%;
  width: 100%;
}

.star-second-game {
  position: absolute;
  width: 31.34px;
  height: 31.34px;
  top: 840px;
  left: 27.97px;
}

.star-first-game {
  position: absolute;
  width: 54.6px;
  height: 54.6px;
  top: 900px;
  left: 45.18px;
}

.game-content {
  display: flex;
  padding-top: 150px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.heading-game {
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
}

.text-game {
  width: 788px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.gemes-blok {
  width: 100%;
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  padding-top: 53px;
  justify-content: space-between;
}

.game-link {
  text-decoration: none;
}

.card {
  flex: 1 0 32.33%;
  flex-direction: column;
  background-color: #FFFFFF;
  max-width: 378px;
  min-height: 512px;
  gap: 0px;
  border-radius: 30px;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.card-header {
  flex: 1 0 60%;
}

.card-header > img {
  width: 100%;
}

.card-footer {
  flex: 1 0 40%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.number-game {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  color: #000;
  padding: 8px 16px 10px 16px;
  background: #F7F7F7;
  border-radius: 50px;
}

.name-game {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  padding-top: 16px;
  text-align: left;
  color: #000;
  max-width: 214px;
}

@keyframes road {
  0% {
    left: 0;
  }
  100% {
    left: -3000px;
  }
}

@media (max-width: 400px) {
  .conteiner {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-welcome {
    height: 800px;
    min-width: 400px;
    background: #E1FF8F;
    background-image: url("../homeWork1/img/Group 1.png");
    background-position: 12px -118px;
    background-repeat: no-repeat;
  }
  .welcome-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 343px;
    gap: 36px;
  }
  .welcome-content__heading {
    font-family: Montserrat;
    width: 262px;
    height: 196px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
    text-align: center;
  }
  .welcome-content__text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #202027;
  }
  .span {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
  .welcome-content__button {
    width: 285px;
    height: 55px;
    padding: 16px 28px 16px 28px;
    gap: 10px;
    border-radius: 60px;
    font-family: Montserrat;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.67px;
    text-align: center;
    color: #FFFFFF;
    background: #202027;
  }
  .welcome-content__button:hover {
    color: #202027;
    background: #FFFFFF;
  }
  .welcome-links {
    width: 100%;
    background-color: #BCEC30;
    padding: 39px 0px;
    overflow: hidden;
    position: relative;
    z-index: 4;
  }
  .welcome-links-anim {
    width: 3220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: road 20s linear infinite;
  }
  .welcome-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    color: black;
    text-transform: uppercase;
  }
  .welcome-link::after {
    content: "";
    width: 36px;
    height: 36px;
    margin-left: 100px;
    background-image: url("../homeWork1/img/Star.png");
    background-size: cover;
    position: absolute;
  }
}/*# sourceMappingURL=index.css.map */